<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="factory" class="quotes.ContainerFactory"/>
    <bean id="joyceQuote" factory-bean="factory" factory-method="createJoyceContainerInstance"/>
    <bean id="goodmanQuote" factory-bean="factory" factory-method="createGoodmanContainerInstance"/>

</beans>